*.o
testcrt
testdisc
testsqfree
testprime
test-conductor
test-primitive
test-character-extension
test-values
test-mpfi-fft
dft-test
animation
chimax
l-one
large-L-one-Mchi
large-L-one-gauss
.*.swp
weight1
weight1-dimensions
*.sage.py
trace-TnTm
trace-sieved
trace-unsieved
a.out
test-tf
write-classnumbers
mf
commands
write-commands.py
commands*
newspace-basis
output
plot.py
character-info
chimaxsum
modp_newbasis
modp_trace
newforms
check2
