*.o
testcrt
testdisc
testsqfree
testprime
test-conductor
test-primitive
test-character-extension
test-values
test-mpfi-fft
dft-test
animation
chimax
l-one
large-L-one-Mchi
large-L-one-gauss
.*.swp
weight1
weight1-dimensions
*.sage.py
trace-TnTm
trace-sieved
trace-unsieved
a.out
test-tf
write-classnumbers
mf
commands
write-commands.py
commands*
newspace-basis
output
plot.py
character-info
chimaxsum
modp_newbasis
modp_trace
newforms
check2
mf
output
mfold
output-old
fields*
output*
identify-fields
*commands*
cat-textfile
modp-newforms
filelist*
blah
newforms_acb
mf2
weight1-dimensions*
*commandlist*
error_output
out
modp_newforms
make-output-directories.py
get-list-to-rerun.py
weight1.py
weight1_dimensions
print-traces
prec_errors.lst
print_form.py
print_form.sage
out*
perf.*
arb_test
hecke-polynomial
hecke-polynomials
cat-binary-format
export-mfdb
convert-to-binary
mf_filelist
mffilelist-to-sqlite
mfv1tov2
build-factor-table
factor-table
*.mfdb
print-mfdb
print-mftextfile
modp_basis
tmp
todo
.d
bin
libmodform.a
*.polydb
